@model Book

<h1>@Model.Title</h1>
<ul>
    <li>Author: @Model.Author</li>
    <li>Price: $@Model.Price</li>
    <li>Class: @Model.Classification</li>
    <li>Genre: @Model.Category</li>
    <li>ISBN: @Model.Isbn</li>
    <li>Pages: @Model.PageCount</li>
    <li>Published by: @Model.Publisher</li>
</ul>

