@{

    ViewData["Title"] = Model.Title;
}
@model Book

<h1>@Model.Title</h1>
<ul>
    <li>Author: @Model.Author</li>
    <li>Price: $@Model.Price</li>
    <li>Class: @Model.Classification</li>
    <li>Genre: @Model.Category</li>
    <li>ISBN: @Model.Isbn</li>
    <li>Pages: @Model.PageCount</li>
    <li>Published by: @Model.Publisher</li>
</ul>

<form method="post" asp-page="/Cart">
    <input type="hidden" asp-for="@Model.BookId" />
    Quantity: <input type="number" name="quantity" value="1" style="width: 50px;" /><br /><br />
    <button type="submit" class="btn btn-primary btn-sm">Add to Cart</button>
</form>

