@{
    ViewData["Title"] = "My Books";
    
}

@model BookViewModel


<div>
    @foreach (var p in Model.Books)
    {
        <partial name="BookSummary" model="p" />
    }
</div>

    @*@if (Model.PageInfo.CurrentPage < Model.PageInfo.TotalPages)
        {
            <a asp-controller="Home" asp-action="Index" asp-route-pageNum="@Model.PageInfo.NextPage">Next Page</a>
        }

        @if (Model.PageInfo.CurrentPage < Model.PageInfo.TotalPages && Model.PageInfo.CurrentPage > 1)
        {
            <a asp-controller="Home" asp-action="Index" asp-route-pageNum="@Model.PageInfo.NextPage">Next Page</a>
            <a asp-controller="Home" asp-action="Index" asp-route-pageNum="@ViewBag.Previous">Previous Page</a>
        }

        @if (Model.PageInfo.CurrentPage == Model.PageInfo.TotalPages)
        {
            <a asp-controller="Home" asp-action="Index" asp-route-pageNum="@ViewBag.Previous">Previous Page</a>
        }*@


    <br/>
    <p>Page @Model.PageInfo.CurrentPage of @Model.PageInfo.TotalPages</p>
    <div page-info="@Model.PageInfo" page-action="Index" page-classes-enabled="true"
         page-class="btn" page-class-normal="btn-outline-dark"
         page-class-selected="btn-primary" class="btn-group pull-right m-1">
    </div>
