@page
@model Mission_09_alley725.Pages.CartModel

@{
    ViewData["Title"] = "My Cart";
}

<h1> My Cart</h1>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Book Title</th>
            <th>Author</th>
            <th>Category</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MyCart.Books)
        {
            <tr>
                <td>@item.book.Title</td>
                <td>@item.book.Author</td>
                <td>@item.book.Category</td>
                <td>@item.quantity</td>
                <td>$@(item.book.Price * item.quantity)</td>

                <td class="text-center">
                    <form method="post" asp-page-handler="Remove">
                        <input type="hidden" name="bookId" value="@item.book.BookId" />
                        <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                        <button type="submit" class="btn btn-sm btn-danger">Remove</button>
                    </form>
                </td>
            </tr>
        }
        <tr>
            <td>Subtotal</td>
            <td></td>
            <td></td>
            <td>@Model.MyCart.getNumItems()</td>
            <td>$@Math.Round((Double)Model.MyCart.getSubtotal(), 2)</td>
        </tr>
    </tbody>
</table>

<div>
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue Shopping</a>
</div>